.main-header{
    nav{
        background-color: black;
    }

    nav ul li:hover {
        background-color: white;
        color: red;
    }

    li.active-nav{
        background-color: grey;
    }
}

a.logo {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    letter-spacing: 2px;
}