<section class="error-box">
    <div class="er-position">
        <div class="gif-include">
            <div class="tenor-gif-embed" data-postid="20102889" data-share-method="host" data-width="100%" data-aspect-ratio="1.0"></div> <script type="text/javascript" async src="http://tenor.com/embed.js"></script>        
        </div>
        <div class="error-lines">
            <h3>Opps!! {{errormessage}}</h3>
            <a href="/">Back to safety</a>
        </div>
    </div>
</section>