<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Roku Streaming Service</title>
</head>
<body>
        <main id="app">
            {{!-- <header>
                <div class="main-header">
                    <nav>
                        <div class="nav-wrapper">
                            <div class="container">
                                <a href="#" class="logo">ROKU</a>
                                <ul class="nav-list">
                                    <li><a href="#" class="active-nav">Movies</a></li>
                                    <li><a href="/TVshows">TV Shows</a></li>
                                    <li><a href="/music">Music</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>

                </div>
            </header> --}}
            
        <h1>Using HandleBars is Easy</h1>
        <h3>What follows is dynamic, server-side rendered content</h3>
        <!-- this is where handlebars will inject its templates-->
        <!-- this is like php include statement -->
        {{{ body }}}
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script defer type="module" src="scripts/main.js"></script>
</body>
</html>