<section class="movie-section">
    <p class="main-title">Watch TV Shows tonight!</p>
    <div class="movie-container">
        <showthumb @showshowdata="showImageSelected" v-for="item in allShows" :show="item" :key="item.shows_id"></showthumb>
    </div>
</section>

{{!-- POP-UP BOX --}}
<section class="pop-box" v-if="show_movie_data">
    <div class="close-button">
            <span @click="closePopup">X</span>
    </div>
    <div>
        <popupmovie :trailer="showsdb.shows_trailer" :title="showsdb.shows_title" :date="showsdb.shows_year" :runtime="showsdb.shows_runtime" :about="showsdb.shows_storyline"  :key="shows_id"></popupmovie>
    </div>
</section> 