.movie-section {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.movie-section p:nth-child(1) {
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: 10px;
  color: black;
}
.movie-section .movie-container {
  width: 90%;
  margin: auto;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.movie-section .movie-container .song-box {
  text-align: center;
  margin-bottom: 80px;
}
.movie-section .movie-container .song-box img {
  filter: grayscale(0);
  transition: filter 0.25s ease;
}
.movie-section .movie-container .song-box p {
  font-family: Helvetica, sans-serif;
  font-size: 1.095rem;
  font-weight: bold;
  text-align: center;
  filter: grayscale(1);
}
.movie-section .movie-container .song-box:hover {
  cursor: pointer;
}
.movie-section .movie-container .song-box:hover img {
  filter: grayscale(1);
}
.movie-section .movie-container .song-box:hover p:nth-child(2) {
  color: lightseagreen;
}
.movie-section .movie-container .song-box:hover p:nth-child(3) {
  float: left;
}

.main-header nav {
  background-color: #292929;
}
.main-header nav ul li:hover {
  background-color: wheat;
  color: rebeccapurple;
}
.main-header li.active-nav {
  background-color: rgba(255, 255, 255, 0.45);
}

a.brand-logo {
  font-family: "Orbitron", sans-serif;
  font-weight: bolder;
  letter-spacing: 2px;
}

.dropdown-content {
  margin-top: 20px;
}
.dropdown-content a {
  color: #000;
}

.pop-box {
  width: 100%;
  height: 100%;
  background: chartreuse;
  position: absolute;
  top: 7%;
  left: 0;
  background: black;
}
.pop-box .close-button {
  display: flex;
  justify-content: flex-end;
  padding: 20px 150px;
  background: black;
  color: #fff;
  font-size: 1.5rem;
}
.pop-box .close-button span {
  padding: 5px;
}
.pop-box .close-button span:hover {
  cursor: pointer;
  color: cyan;
  background: #fff;
  border-radius: 50px;
}
.pop-box .screen-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: space-evenly;
  align-items: center;
}
.pop-box .screen-box .details {
  height: 35vh;
  width: 35%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: Helvetica, sans-serif;
}
.pop-box .screen-box .details .title h5 {
  font-weight: bolder;
  color: #fff;
}
.pop-box .screen-box .details .title p {
  font-size: 1.2rem;
  color: lightgray;
}
.pop-box .screen-box .details .about {
  color: #fff;
}

@media screen and (max-width: 1400px) {
  .pop-box {
    width: 100%;
  }
  .pop-box .close-button {
    padding: 20px 100px;
  }
  .pop-box .screen-box .details {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .pop-box {
    width: 100%;
  }
  .pop-box .close-button {
    padding: 20px 20px;
  }
  .pop-box .screen-box .details {
    width: 90%;
  }
}
.music-section {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 60vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.music-section p:nth-child(1) {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #434343;
}
.music-section .music-container {
  width: 90%;
  margin: auto;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.music-section .music-container .song-box {
  text-align: center;
  margin-bottom: 80px;
}
.music-section .music-container .song-box img {
  border-radius: 20px;
  filter: grayscale(1);
  transition: filter 0.25s ease;
}
.music-section .music-container .song-box p:nth-child(2) {
  font-family: Helvetica, sans-serif;
  font-size: 1.095rem;
  font-weight: bold;
  filter: grayscale(1);
}
.music-section .music-container .song-box p:nth-child(3) {
  float: right;
  font-family: Helvetica, sans-serif;
  transition: float 2s ease-in;
}
.music-section .music-container .song-box:hover {
  cursor: pointer;
}
.music-section .music-container .song-box:hover img {
  filter: grayscale(0);
}
.music-section .music-container .song-box:hover p:nth-child(2) {
  color: lightseagreen;
}
.music-section .music-container .song-box:hover p:nth-child(3) {
  float: left;
}

.audio-section {
  width: 100%;
  background: #000;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
}
.audio-section .audio-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.audio-section .audio-bar .song-detail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.audio-section .audio-bar .song-detail img {
  width: 60px;
  height: auto;
}
.audio-section .audio-bar .song-detail .song-bar-name {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  padding: 0 5px;
}
.audio-section .audio-bar .audio {
  flex: 1;
}
.audio-section .audio-bar .audio audio {
  width: 100%;
}
.audio-section .audio-component-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.audio-section .audio-component-bar .song-detail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.audio-section .audio-component-bar .song-detail img {
  width: 60px;
  height: auto;
}
.audio-section .audio-component-bar .song-detail .song-bar-name {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  padding: 0 5px;
}
.audio-section .audio-component-bar .audio {
  flex: 1;
}
.audio-section .audio-component-bar .audio audio {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .audio-component-bar .song-detail p {
    display: none;
  }

  .audio-component-bar audio {
    padding-left: 10px;
  }
}
.error-box {
  width: 100%;
  height: 100vh;
  background: #292929;
  font-family: Helvetica, sans-serif;
  color: #fff;
  position: relative;
}
.error-box .er-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid crimson;
  padding: 50px;
}
.error-box .er-position .gif-include {
  width: 50%;
  height: auto;
}
.error-box .er-position .error-lines {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error-box .er-position .error-lines h3 {
  letter-spacing: 1px;
}
.error-box .er-position .error-lines a {
  color: #fff;
}

/*# sourceMappingURL=main.css.map */
